@model DiscordStats.ViewModel.AllServersVM;
@*@using DiscordStats.DAL.Concrete. check this from class example repo*@


<div class="col">
	<div class="row">
		<p><center><b>Click on the server you want to be a member of!</b></center></p> 
	</div>
    <form asp-controller="Home" asp-action="AddMemberToPickedServer" method="post">
        <div class="row">
                @foreach (var s in Model.AllServerNameAndMemCountContainer())
                {
                    <button class="button" name="id" value="@s.Id">Server Name: @s.Name <br> Member Count: @s.Approximate_Member_Count</button>
                }
        </div>
     </form>
</div>

   