@model DiscordStats.ViewModel.AllServerNames;

<div class="col">
	<div class="row">
		<p><b>Server Names</b></p> 
	</div>
	<div class="row">
		<ul>
			@foreach(var s in Model!.allServerNamesContainer!)
			{
				<li>@s</li>
			}
		</ul>
	</div>
</div>