@{
    ViewData["Title"] = "Contact Page";
}

<div>
    <h1 class="text-center">Contact</h1>
    <br /><h3><u>Email</u></h3>
    <p>Abraham Vela: abvela09@wou.edu</p>
    <p>Ethan Sutton: esutton15@wou.edu</p>
    <p>Korbin Cardoza: kcardoza17@wou.edu</p>

    <br /><h3><u>Discord Usernames</u></h3>
    <p>Abraham Vela: Abraham#7167</p>
    <p>Ethan Sutton: E|t|h|a|n#2813</p>
    <p>Korbin Cardoza: Korbin#6969</p>
</div>
