@{
    ViewData["Title"] = "Home Page";
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
	<script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
</head>

<body>
<div class="col">
    <div class="row">
        <div class="text-center">
            <h1 class="display-4">Welcome</h1>
            <p>This app is the ultimate location to see your discord server and game activity. Once you log in through Discord the following information will be shown: 
               if you own the server, the servers name, and the servers id. Also once logged in a "Servers" option will appear in the header. If clicked on, and if you are 
               the owner of any servers the servers avatar will be there, an option for privacy level, and the option to "Add Bot". Here the bot, if added, will retrieve 
               awesome info about the server and game it's added to. Such as frequent gaming hours, which games are being played, etc. 
               Enough blabbing, click "Login" and begin an adventure of a lifetime!
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col" >
            <center><div id="columnContainer"></div></center>
        </div>
        <div class="col">
            <center><div id="pieContainer"></div></center>
        </div>
    </div>
</div>

<script type="text/javascript">
 
	window.onload = function () {
		var chart = new CanvasJS.Chart("columnContainer", {
			theme: "light2",
			animationEnabled: true,
			title: {
				text: "Users per Servers"
			},
			axisY:{
				title: "Users"
			},
			axisX:{
				title: "Servers"
			},
			subtitles: [
				{ text: "Try Resizing the Browser" 

				}
			],
			data: [
			{
				type: "column", //change type to bar, line, area, pie, etc
				dataPoints: [
				{ x: 1, y: 71 },
				{ x: 2, y: 55 },
				{ x: 3, y: 50 },
				{ x: 4, y: 65 },
				{ x: 5, y: 95 },
				{ x: 6, y: 68 },
				{ x: 7, y: 28 },
				{ x: 8, y: 34 },
				{ x: 9, y: 14 }
				]
			}
			]
		});

		chart.render();
		var chart1 = new CanvasJS.Chart("pieContainer", {
			theme: "light2",
			animationEnabled: true,
			title: {
				text: "Users per Game"
			},
			subtitles: [
				{ text: "Try Resizing the Browser" 

				}
			],
			data: [
			{
				type: "pie", //change type to bar, line, area, pie, etc
				dataPoints: [
				{ x: 1, y: 71 },
				{ x: 2, y: 55 },
				{ x: 3, y: 50 },
				{ x: 4, y: 65 },
				{ x: 5, y: 95 },
				{ x: 6, y: 68 },
				{ x: 7, y: 28 },
				{ x: 8, y: 34 },
				{ x: 9, y: 14 }
				]
			}
			]
		});
		chart1.render();
	};
</script>
</body>
</html>