@{
    ViewData["Title"] = "Home Page";
}
<div class="col">
    <div class="row">
        <div class="text-center">
            <h1 class="display-4">Welcome</h1>
            <p>This app is the ultimate location to see your discord server and game activity. Once you log in through Discord the following information will be shown: 
               if you own the server, the servers name, and the servers id. Also once logged in a "Servers" option will appear in the header. If clicked on, and if you are 
               the owner of any servers the servers avatar will be there, an option for privacy level, and the option to "Add Bot". Here the bot, if added, will retrieve 
               awesome info about the server and game it's added to. Such as frequent gaming hours, which games are being played, etc. 
               Enough blabbing, click "Login" and begin an adventure of a lifetime!
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col" >
            <center>chart/graph here</center>
        </div>
        <div class="col">
            <center>chart/graph here</center>
        </div>
    </div>
</div>