@model IEnumerable<DiscordStats.Models.Channel>


<div class="mode">
Dark mode:	
    <span class="change">ON</span>
</div>


@if(@ViewBag.hasBot == "true")
{
<table>
    <thead>
    <tr>
        <th><b>Channel Name</b></th>
        <th><b>Channel Id</b></th>
        <th></th>
    </tr>

    </thead>
    <tbody>
        @foreach (var s in Model)
        {
            <tr>
                <td>@s.Name</td>
                <td>@s.Id</td>
            </tr>
        }
    </tbody>
</table>
}
else
{
    <h1 style="text-align:center">We are unable to list channels. Please add the bot to see channels.</h1>
}

@section Scripts {

     <script type="text/javascript" src="~/js/site.js"></script>
}