body {
    /*		padding:10% 3% 10% 3%;*/
/*    text-align: center;*/
}

.mode {
    float: right;
}

.change {
    cursor: pointer;
    border: 1px solid #555;
    border-radius: 40%;
    width: 20px;
    text-align: center;
    padding: 5px;
    margin-left: 8px;
}

.dark {
    background-color: #222;
    color: #e6e6e6;
}

h1 {
    color: #32a852;
    font-size: "+4";
    font: bold;
}

h2 {
   font-size: "+2";
}

p {
}  


html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

html {
    position: relative;
    min-height: 100%;
}

.discordImage {
    border-radius: 100%;
    -moz-border-radius: 100%;
    -webkit-border-radius: 100%;
    -o-border-image: 100%;
}

table {
/*    border: 1px solid black;
    border: 1px;*/
    margin-left: auto;
    margin-right: auto;
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

.table td, .table th {
/*    border: 1px solid #666464;
    border: 1px solid #666464;*/
    text-align: left;
    padding: 8px;
}

/* for hover over in AllServers page */
.hide {
    display: none;
}

.myDiv:hover + .hide {
    display: block;
    color: green;
}
