@model DiscordStats.ViewModel.AddMemberToPickedServerVM;


<div class="mode">
Dark mode:	
    <span class="change">ON</span>
</div>

@ViewBag.Response


@section Scripts {

     <script type="text/javascript" src="~/js/site.js"></script>
}

