@{
    ViewData["Title"] = "Contact Page";
}

<div class="mode">
Dark mode:	
    <span class="change">ON</span>
</div>

<div>
    <h1 class="text-center">Contact</h1>
    <br /><h1><u>Email</u></h1>
    <p>Abraham Vela: abvela09@wou.edu</p>
    <p>Ethan Sutton: esutton15@wou.edu</p>
    <p>Korbin Cardoza: kcardoza17@wou.edu</p>

    <br /><h1><u>Discord Usernames</u></h1>
    <p>Abraham Vela: Abraham#7167</p>
    <p>Ethan Sutton: E|t|h|a|n#2813</p>
    <p>Korbin Cardoza: Korbin#6969</p>
</div>


@section Scripts {

     <script type="text/javascript" src="~/js/site.js"></script>
}