@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}


<div class="mode">
Dark mode:	
    <span class="change">ON</span>
</div>

@section Scripts {

     <script type="text/javascript" src="~/js/site.js"></script>
}