@{
    ViewData["Title"] = "Home Page";
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
	<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js"></script>

</head>
<div class="mode">
Dark mode:	
    <span class="change">ON</span>
</div>

<body>
<div class="col">
    <div class="row">
        <div class="text-center">
            <h1>Welcome</h1>
            <h3><center>This app is the ultimate location to see discord server and game activity. It's as easy as "up down A B up down start" to log in.</center></h3><br />
            <h3><center>Making graphs and charts cool through displaying top games and server activities. Also giving new insight on users by displaying them in orderly tables. Enough blabbing, click "Login" and begin an adventure of a lifetime! </center></h3>
        </div>
    </div>
    <div class="row">
        <div class="col" >
            <center><canvas id="barChart" style="width:100%;max-width:700px"></canvas></center>
        </div>
        <div class="col">
            <center><canvas id="pieChart" style="width:100%;max-width:700px"></canvas></center>
        </div>
    </div>
</div>

</body>
</html>








@section Scripts {

     <script type="text/javascript" src="~/js/site.js"></script>
}