@{
    ViewData["Title"] = "Privacy Policy";
}

<body>
    <h1>Stat Tracker Privacy Policy</b></h1>

    <p>Last updated: March 2, 2022</p>

    <h1>Two Levels of Information we collect and how:</h1>
    <ul>
        <li><h2>Discord user info by logging in with discord.</h2></li>
        <p>Once you log in with discord we have minimal access to your info. We use that to create your user "Account"" page and store whats on your user 
           page in the cloud. 
        </p>
        <li><h2>Discord server and user info by adding our bot to a server.</h2></li>
        <p>When adding our bot permissions enabled are deleting/adding servers, deleting/adding members. Plus
           relative information of servers and users.
        </p>
    </ul>
</body>


