@page
@model LoginModel

<script src="https://kit.fontawesome.com/5b2bd23d5f.js" crossorigin="anonymous"></script>
<h2 style="text-align:center">Please use the button below to login with your Discord account.</h2>
<div class="row">

    <div style="text-align: center"> 
        <a class="btn btn-primary" href="@Url.Action("Account", "Account")" role="button">Login
            <i class="fab fa-discord"></i>
        </a>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
