@*@model DiscordStats.ViewModel.RetrieveItemFromDbForForumVM*@
@model DiscordStats.Models.Server


@{
	ViewData["Title"] = "Add/Un-Add to/from Forum";
}

<div class="mode">
Dark mode:	
    <span class="change">ON</span>
</div>

<div class="text-center">
    <div class="jumbotron rounder p-3">
        <h1>@ViewData["Title"]</h1>
        <div class="text-left">
        </div>
    </div>    
</div>

<form asp-controller="Forum" asp-action="ServerOnForum" method="post">

        <div class="align-content-lg-center">
            <div class="row">
            <label asp-for="Id" class="control-label">Which Server would you like to add to forum?</label>
            <select asp-for="Id" class="form-control" asp-items="ViewBag.Id"></select>
            <span asp-validation-for="Id" class="text-danger"></span>
            </div>
        </div>
         <div class="row">
                <label for="text" asp-for="Message" class="control-label">Leave a message (5ish words):</label>
                <input type="text" asp-for="Message" class="form-control" >
                <span asp-validation-for="Message" class="text-danger"></span>
        </div>
        <div class="col">
            <div class="form-group mt-3 text-center">
                <input type="submit" value="Add to Forum" style="background:black; color:white"  class="btn btn-online-primary"/>
            </div>
        </div>

</form>
<form asp-controller="Forum" asp-action="ServerOffForum" method="post">
        <div class="align-content-lg-center">
            <div class="row">
            <label asp-for="Id" class="control-label">Which Server would you like to un-add from forum?</label>
            <select asp-for="Id" class="form-control" asp-items="ViewBag.Id"></select>
            <span asp-validation-for="Id" class="text-danger"></span>
            </div>
        </div>

 
        <div class="col">
            <div class="form-group mt-3 text-center">
                <input type="submit" value="Un-Add from Forum" style="background:black; color:white"  class="btn btn-online-primary"/>
            </div>
        </div>
</form>

<div class="col">
    <div class="form-group mt-3 text-center">
        <input type="button" value="View Forum" style="background:black; color:white" onclick="location.href='@Url.Action("Index","Forum")'" />
    </div>
</div>

@section Scripts {

     <script type="text/javascript" src="~/js/site.js"></script>
}