@model DiscordStats.ViewModel.RetrieveItemFromDbForForumVM


@{
	ViewData["Title"] = "Broadcast your server";
}

<div class="text-center">
    <div class="jumbotron rounder p-3">
        <h1>@ViewData["Title"]</h1>
        <div class="text-left">
        </div>
    </div>    
</div>

<form asp-controller="Forum" asp-action="ServerOnForum" method="post">

        <div class="align-content-lg-center">
            <div class="row">
            <label asp-for="Id" class="control-label">Which Server would you like to Broadcast?</label>
            <select asp-for="Id" class="form-control" asp-items="ViewBag.Id"></select>
            <span asp-validation-for="Id" class="text-danger"></span>
            </div>
        </div>
              @*<div class="col">
            <div class="form-group mt-3 text-center">
                <input type="submit" value="Broadcast" style="color:white" class="btn btn-online-primary" />
            </div>
        </div>*@
        <div class="col">
            <div class="form-group mt-3 text-center">
                <input type="submit" value="Broadcast" style="background:black; color:white"  class="btn btn-online-primary"/>
            </div>
        </div>

</form>
<form asp-controller="Forum" asp-action="ServerOffForum" method="post">
        <div class="align-content-lg-center">
            <div class="row">
            <label asp-for="Id" class="control-label">Which Server would you like to Un-Broadcast?</label>
            <select asp-for="Id" class="form-control" asp-items="ViewBag.Id"></select>
            <span asp-validation-for="Id" class="text-danger"></span>
            </div>
        </div>

 
        <div class="col">
            <div class="form-group mt-3 text-center">
                <input type="submit" value="Un-Broadcast" style="background:black; color:white"  class="btn btn-online-primary"/>
            </div>
        </div>
</form>

<div class="col">
    <div class="form-group mt-3 text-center">
        <input type="button" value="View BroadCasts" style="background:black; color:white" onclick="location.href='@Url.Action("Index","Forum")'" />
    </div>
</div>

