@*@model DiscordStats.ViewModel.RetrieveItemFromDbForForumVM*@
@model DiscordStats.Models.Server


@{
	ViewData["Title"] = "Add/Un-Add to/from Forum";
}

<!DOCTYPE html>
<html lang="en">
    <head>
    <title>Server Details</title>

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>@ViewData["Title"] - DiscordStat</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700" rel="stylesheet">    
    <link href="~/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="~/assets/css/fontawesome.css">
    <link rel="stylesheet" href="~/assets/css/templatemo-host-cloud.css">
    <link rel="stylesheet" href="~/assets/css/owl.css">
    <script src="https://cdn.jsdelivr.net/npm/chart.js@3.7.1/dist/chart.min.js"></script>

</head>
 <body>
               <!-- ***** Preloader Start ***** -->
    <div id="preloader">
        <div class="jumper">
            <div></div>
            <div></div>
            <div></div>
        </div>
    </div>  
    <!-- ***** Preloader End ***** -->
    <!-- Page Content -->
    <!-- Heading Starts Here -->
    <div class="page-heading header-text">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <h1>Fourms</h1>
            <p>Add or Remove From Fourms</p>
          </div>
        </div>
      </div>
    </div>
    <!-- Heading Ends Here -->
    <!-- Services Starts Here -->
    <div class="services-section services-page">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="section-heading">
              <h2>Here you can post to our forum to recruit more members</h2>
            </div>
          </div>
          <div class="col-md-10 col-sm-10 col-xs-12" style="margin:0 auto">
              <form asp-controller="Forum" asp-action="ServerOnForum" method="post">

            <div class="row" >
            <label asp-for="Id" class="control-label" style="text-align: left; font-weight:bold;margin-left:-1% ;">Which Server would you like to add to forum?</label>
            <select asp-for="Id" class="form-control" asp-items="ViewBag.Id"></select>
            <span asp-validation-for="Id" class="text-danger"></span>
            </div>

         <div class="row">
                <label for="text" asp-for="Message" class="control-label" style="font-weight:bold; margin-top: 3%; margin-left:-1% ;">Leave a message:</label>
                <input type="text" asp-for="Message" class="form-control" >
                <span asp-validation-for="Message" class="text-danger"></span>
        </div>
        <div class="col">
            <div class="form-group mt-3 text-center">
                <input type="submit" value="Add to Forum"  class="btn btn-primary"/>
            </div>
        </div>

</form>
<form asp-controller="Forum" asp-action="ServerOffForum" method="post">
        <div class="align-content-lg-center">
            <div class="row">
            <label asp-for="Id" class="control-label" style="font-weight:bold; margin-left:-1% ;">Which Server would you like to remove from the forum?</label>
            <select asp-for="Id" class="form-control" asp-items="ViewBag.Id"></select>
            <span asp-validation-for="Id" class="text-danger"></span>
            </div>
        </div>

 
        <div class="col">
            <div class="form-group mt-3 text-center">
                <input type="submit" value="Un-Add from Forum"  class="btn btn-primary"/>
            </div>
        </div>
</form>

<div class="col">
    <div class="form-group mt-3 text-center">
        <input type="button" value="View Forum" class="btn btn-success" onclick="location.href='@Url.Action("Index","Forum")'" />
    </div>
</div>
          </div>




        </div>
      </div>
    </div>
    <!-- Services Ends Here -->



@*

<form asp-controller="Forum" asp-action="ServerOnForum" method="post">

        <div class="align-content-lg-center">
            <div class="row">
            <label asp-for="Id" class="control-label">Which Server would you like to add to forum?</label>
            <select asp-for="Id" class="form-control" asp-items="ViewBag.Id"></select>
            <span asp-validation-for="Id" class="text-danger"></span>
            </div>
        </div>
         <div class="row">
                <label for="text" asp-for="Message" class="control-label">Leave a message (5ish words):</label>
                <input type="text" asp-for="Message" class="form-control" >
                <span asp-validation-for="Message" class="text-danger"></span>
        </div>
        <div class="col">
            <div class="form-group mt-3 text-center">
                <input type="submit" value="Add to Forum" style="background:black; color:white"  class="btn btn-online-primary"/>
            </div>
        </div>

</form>
<form asp-controller="Forum" asp-action="ServerOffForum" method="post">
        <div class="align-content-lg-center">
            <div class="row">
            <label asp-for="Id" class="control-label">Which Server would you like to un-add from forum?</label>
            <select asp-for="Id" class="form-control" asp-items="ViewBag.Id"></select>
            <span asp-validation-for="Id" class="text-danger"></span>
            </div>
        </div>

 
        <div class="col">
            <div class="form-group mt-3 text-center">
                <input type="submit" value="Un-Add from Forum" style="background:black; color:white"  class="btn btn-online-primary"/>
            </div>
        </div>
</form>

<div class="col">
    <div class="form-group mt-3 text-center">
        <input type="button" value="View Forum" style="background:black; color:white" onclick="location.href='@Url.Action("Index","Forum")'" />
    </div>
</div>*@

</body>
    </html>
    <!-- Bootstrap core JavaScript -->
    <script src="~/vendor/jquery/jquery.min.js"></script>
    <script src="~/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Additional Scripts -->
    <script src="~/assets/js/custom.js"></script>
    <script src="~/assets/js/owl.js"></script>
    <script src="~/assets/js/accordions.js"></script>
@section Scripts {

     <script type="text/javascript" src="~/js/site.js"></script>
}