@model IEnumerable<DiscordStats.Models.Server>

<h4 style="text-align:center">Here is a list of servers that you own. Please select which one you would like to add a bot to.</h4>
@foreach (var s in Model)
{
    <div class="row" style="padding-top: 3%">
        <div class="col-2">
            @{
                var link = "https://cdn.discordapp.com/icons/" + @s.Id + "//" + @s.Icon + ".png";
                <img src="@link"/>
            } 
        </div>
        <div class ="col-3" style="font-weight:bold">
            @s.Name
            <div class="row" style="width:50%;">
                <select class="form-select" aria-label="Default select example">
                    <option selected>Privacy Level</option>
                    <option value="1">Public</option>
                    <option value="2">Private</option>
                </select>


            </div>
            <div class="row" style="width: 50%; margin-top: 2%">
                <button class="btn btn-primary">Add Bot</button>
            </div>
            
        </div>

    </div>
}


<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<script>
    $(".dropdown-menu li a").click(function() {
        alert("hello");
    });
</script>